USE [master]
GO
/****** Object:  Database [ogrenciYonetim]    Script Date: 19.08.2025 19:25:36 ******/
CREATE DATABASE [ogrenciYonetim]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ogrenciYonetim', FILENAME = N'D:\patika_web_tasarım\c#\ogrenciYonetim\db\ogrenciYonetim.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ogrenciYonetim_log', FILENAME = N'D:\patika_web_tasarım\c#\ogrenciYonetim\db\ogrenciYonetim_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ogrenciYonetim].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ogrenciYonetim]
GO
/****** Object:  Table [dbo].[TBL_DERS]    Script Date: 19.08.2025 19:25:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_DERS](
	[DERSID] [int] IDENTITY(1,1) NOT NULL,
	[DERSAD] [varchar](50) NULL,
 CONSTRAINT [PK_TBL_DERS] PRIMARY KEY CLUSTERED 
(
	[DERSID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_DUYURU]    Script Date: 19.08.2025 19:25:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_DUYURU](
	[DUYURUID] [int] IDENTITY(1,1) NOT NULL,
	[DUYURUBASLIK] [varchar](50) NULL,
	[DUYURUICERIK] [varchar](250) NULL,
	[DUYURUOGRT] [int] NULL,
 CONSTRAINT [PK_TBL_DUYURU] PRIMARY KEY CLUSTERED 
(
	[DUYURUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_MESAJ]    Script Date: 19.08.2025 19:25:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_MESAJ](
	[MESAJID] [int] IDENTITY(1,1) NOT NULL,
	[GONDEREN] [varchar](5) NULL,
	[ALICI] [varchar](5) NULL,
	[BASLIK] [varchar](50) NULL,
	[ICERIK] [varchar](500) NULL,
	[TARIH] [smalldatetime] NULL,
 CONSTRAINT [PK_TBL_MESAJ] PRIMARY KEY CLUSTERED 
(
	[MESAJID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_NOT]    Script Date: 19.08.2025 19:25:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_NOT](
	[NOTID] [int] IDENTITY(1,1) NOT NULL,
	[OGRID] [int] NOT NULL,
	[DERSID] [int] NOT NULL,
	[SINAV1] [tinyint] NULL,
	[SINAV2] [tinyint] NULL,
	[SINAV3] [tinyint] NULL,
	[ORT] [decimal](18, 2) NULL,
	[DURUM] [bit] NULL,
 CONSTRAINT [PK_TBL_NOT] PRIMARY KEY CLUSTERED 
(
	[NOTID] ASC,
	[OGRID] ASC,
	[DERSID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_OGRENCI]    Script Date: 19.08.2025 19:25:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_OGRENCI](
	[OGRID] [int] IDENTITY(1,1) NOT NULL,
	[OGRNO] [varchar](5) NULL,
	[OGRAD] [varchar](30) NULL,
	[OGRSOYAD] [varchar](30) NULL,
	[OGRFOTO] [varchar](100) NULL,
	[OGRTEL] [varchar](20) NULL,
	[OGRMAIL] [varchar](30) NULL,
	[OGRSIFRE] [varchar](50) NULL,
	[OGRCINSIYET] [varchar](5) NULL,
 CONSTRAINT [PK_TBL_OGRENCI] PRIMARY KEY CLUSTERED 
(
	[OGRID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_OGRT]    Script Date: 19.08.2025 19:25:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_OGRT](
	[OGRTID] [int] IDENTITY(1,1) NOT NULL,
	[OGRTADSOYAD] [varchar](30) NULL,
	[OGRTFOTO] [varchar](100) NULL,
	[OGRTBRANS] [int] NULL,
	[OGRTNO] [varchar](5) NULL,
	[OGRTSIFRE] [varchar](10) NULL,
 CONSTRAINT [PK_TBL_OGRT] PRIMARY KEY CLUSTERED 
(
	[OGRTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TBL_MESAJ] ADD  CONSTRAINT [DF_TBL_MESAJ_TARIH]  DEFAULT (getdate()) FOR [TARIH]
GO
ALTER TABLE [dbo].[TBL_NOT] ADD  CONSTRAINT [DF_TBL_NOT_SINAV1]  DEFAULT ((0)) FOR [SINAV1]
GO
ALTER TABLE [dbo].[TBL_NOT] ADD  CONSTRAINT [DF_TBL_NOT_SINAV2]  DEFAULT ((0)) FOR [SINAV2]
GO
ALTER TABLE [dbo].[TBL_NOT] ADD  CONSTRAINT [DF_TBL_NOT_SINAV3]  DEFAULT ((0)) FOR [SINAV3]
GO
ALTER TABLE [dbo].[TBL_NOT] ADD  CONSTRAINT [DF_TBL_NOT_ORT]  DEFAULT ((0)) FOR [ORT]
GO
ALTER TABLE [dbo].[TBL_NOT] ADD  CONSTRAINT [DF_TBL_NOT_DURUM]  DEFAULT ((0)) FOR [DURUM]
GO
ALTER TABLE [dbo].[TBL_DUYURU]  WITH CHECK ADD  CONSTRAINT [FK_TBL_DUYURU_TBL_OGRT] FOREIGN KEY([DUYURUOGRT])
REFERENCES [dbo].[TBL_OGRT] ([OGRTID])
GO
ALTER TABLE [dbo].[TBL_DUYURU] CHECK CONSTRAINT [FK_TBL_DUYURU_TBL_OGRT]
GO
ALTER TABLE [dbo].[TBL_NOT]  WITH CHECK ADD  CONSTRAINT [FK_TBL_NOT_TBL_DERS] FOREIGN KEY([DERSID])
REFERENCES [dbo].[TBL_DERS] ([DERSID])
GO
ALTER TABLE [dbo].[TBL_NOT] CHECK CONSTRAINT [FK_TBL_NOT_TBL_DERS]
GO
ALTER TABLE [dbo].[TBL_NOT]  WITH CHECK ADD  CONSTRAINT [FK_TBL_NOT_TBL_OGRENCI] FOREIGN KEY([OGRID])
REFERENCES [dbo].[TBL_OGRENCI] ([OGRID])
GO
ALTER TABLE [dbo].[TBL_NOT] CHECK CONSTRAINT [FK_TBL_NOT_TBL_OGRENCI]
GO
ALTER TABLE [dbo].[TBL_OGRT]  WITH CHECK ADD  CONSTRAINT [FK_TBL_OGRT_TBL_DERS] FOREIGN KEY([OGRTBRANS])
REFERENCES [dbo].[TBL_DERS] ([DERSID])
GO
ALTER TABLE [dbo].[TBL_OGRT] CHECK CONSTRAINT [FK_TBL_OGRT_TBL_DERS]
GO
/****** Object:  StoredProcedure [dbo].[graf1]    Script Date: 19.08.2025 19:25:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[graf1] as
select TBL_DERS.DERSAD, count(*) from TBL_NOT inner join TBL_DERS on TBL_DERS.DERSID = TBL_NOT.DERSID group by TBL_DERS.DERSAD
GO
/****** Object:  StoredProcedure [dbo].[graf2]    Script Date: 19.08.2025 19:25:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[graf2] as
select TBL_OGRENCI.OGRCINSIYET ,count(*) from TBL_OGRENCI group by OGRCINSIYET
GO
/****** Object:  StoredProcedure [dbo].[graf3]    Script Date: 19.08.2025 19:25:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[graf3] as
select TBL_DERS.DERSAD, count(*) from TBL_DERS inner join TBL_OGRT on TBL_DERS.DERSID = TBL_OGRT.OGRTBRANS 
group by DERSAD
GO
/****** Object:  StoredProcedure [dbo].[OgrNotlar]    Script Date: 19.08.2025 19:25:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[OgrNotlar] as
select NOTID,TBL_NOT.OGRID,(OGRAD+' '+ OGRSOYAD) AS 'OGRENCIADSOYAD' ,DERSAD, SINAV1, SINAV2, SINAV3, ORT, DURUM from TBL_NOT inner join TBL_OGRENCI on TBL_OGRENCI.OGRID = TBL_NOT.OGRID
inner join TBL_DERS ON TBL_DERS.DERSID = TBL_NOT.DERSID
GO
USE [master]
GO
